@use "variables" as *;

@mixin button-styles {
  color: black;
  text-decoration: none;
  border-radius: 10px;
  text-align: center;
  padding: 10px 15px;
  margin: 5px 15px;
  z-index: 1;

  &:hover, &:active {
    text-decoration: underline;
    background-color: $blue;
    border-color: $blue;
  }
}

.button-basic {
  @include button-styles;
  background-color: $white;
}

.sidebar-btn {
  @include button-styles();
  background-color: $white;
  margin: 1px 0 5px 40px;
  padding:13px 12px;
}

nav a, .blue-btn {
  @include button-styles;
  background-color: $lightblue;
}


a.button-link {
  @include button-styles;
  background-color: $white;
  border-color: $white;
  border-style: solid;
  border-width: 1px;
  width: 100px;
}