@use "variables" as *;
@use "buttons";

// Onderlinge variabelen alleen voor columns bestemd
$linkstekst: 1 / span 2;
$rechtstekst: 2 / span 2;
$linksafbeelding: 1;
$rechtsafbeelding: 3;

.detail-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-auto-rows: 1fr;
    column-gap:20px;
    height:2000px;
    border-top:solid black 1px;
}

.image {
    background-color: $lightblue;
    width:100%;
}

#flatimg1 {
    grid-row:1;
    grid-column: 1 / span 2;
//    grid-area: 1 / 1 / 1 / span 2;
    background-color: $lightblue;
}

#flatimg2 {grid-column: $rechtsafbeelding; grid-row: 2;}
#flatimg3 {grid-column: $linksafbeelding; grid-row: 3;}
#flatimg4 {grid-column: $rechtsafbeelding; grid-row: 4;}
#flatimg5 {grid-column: $linksafbeelding; grid-row: 5;}
#flatimg6 {grid-column: $rechtsafbeelding; grid-row: 6;}
#flatimg7 {grid-column: $linksafbeelding; grid-row: 7;}
#flatimg8 {grid-column: $rechtsafbeelding; grid-row: 8;}


.introtekst {grid-area: 1 / 3 / 1 / 3;}
.uitlegtekst {background-color: greenyellow; padding: 10px;}

#tekst1 {grid-column: $linkstekst; grid-row: 2;}
#tekst2 {grid-column: $rechtstekst; grid-row: 3;}
#tekst3 {grid-column: $linkstekst; grid-row: 4;}
#tekst4 {grid-column: $rechtstekst; grid-row: 5;}
#tekst5 {grid-column: $linkstekst; grid-row: 6;}
#tekst6 {grid-column: $rechtstekst; grid-row: 7;}
#tekst7 {grid-column: $linkstekst; grid-row: 8;}