@use "variables" as *;
@use "buttons" as *;

$spacing20: 20px;
$maxsizing: calc(100% - 2 * $spacing20);

.container {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    column-gap: 50px;
    height: 500px;
    border-top: solid black 1px;
    grid-template-areas:
        "image gegevens contactinfo"
}

.formimage {
    grid-area: image;
    background-color: var(--accent-color);
    width: 99%;
}

.gegevens {
    grid-area: gegevens;
    overflow: hidden;
    background-color: var(--accent-color);
    padding: $spacing20;
    margin-top: $spacing20;
}

form {
    display: flex;
    flex-direction: column;
    gap: $spacing20;
    align-items: center;
}

.form-group {
    display: flex;
    align-items: center;
    gap: $spacing20;
    width: 100%;
}

label {flex: 0 0 150px;} // Vaste lengte voor labels

input[type="text"],
input[type="email"],
textarea {
    font-family: 'Montserrat';
    font-size:13px;
    flex: 1; // Input velden nemen de overgebleven ruimte
    width:100%;
}

textarea{
    height:70px;
    resize:vertical;
    max-height:130px;
    box-sizing: border-box;
}

.submit-btn {
    @include button-styles;
    color:black;
    margin-top: $spacing20;
    align-self: center;
}

.contactinfo {
    grid-area: contactinfo;
    background-color: var(--accent-color);
    padding: $spacing20;
    margin-top: $spacing20;
    width:75%;
}