@use "variables" as *;
@use "buttons";

.flex-container {
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height:250px;
    border-style: solid;
    border-width:1px;
    margin-bottom: 50px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    height:250px;
    border-style: solid;
    border-width:1px;
    margin-bottom: 50px;
}

/*
@media screen and (max-width: 600px) {
    .flex-container {
        grid-template-columns: repeat(2, 1fr);
    }
}
*/

.grid-container > div {
    background-color: $lightblue;
    text-align: center;
    box-sizing: border-box;
    flex-grow:1;
    height: 100%;
    border-style:solid;
    border-width: 1px;
    border-color: black;
    padding:0px;
    overflow:hidden;
    position: relative;
}

.flex-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.deco_img {
    width:100%;
    height:100%;
}

.imgbutton {
    transform: translateX(-60%);
}

#box1 {background-color: $lightblue;}

#box2 {background-color: $blue;}

#img1 {
    height:100%;
    width:50%;
}

#info1 {
    height:100%;
    width:50%;
}

.on-top {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition:ease-in-out .2s;
}

.on-top:has(h3:hover) {
    background-color: rgba(0, 0, 0, 0.2);
}