@use "variables" as *;
@use "buttons";

.detail-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    row-gap:20px;
    column-gap: 10px;
    border-top:solid black 1px;
    .lesstof {grid-template-rows: repeat(5, 200px);}
    .design {grid-template-rows: repeat(8, 200px);}
    .usability {grid-template-rows: repeat(5, 200px);}
    .development {grid-template-rows: repeat(8, 200px);}
}

.image {
    grid-column: 3;
    background-color: $lightblue;
    width:100%;
}
.flatimg1 {grid-row: 1; grid-column: 1 / span 2;}
.flatimg2 {grid-row: 2;}
.flatimg3 {grid-row: 3;}
.flatimg4 {grid-row: 4;}
.flatimg5 {grid-row: 5;}
.flatimg6 {grid-row: 6;}
.flatimg7 {grid-row: 7;}
.flatimg8 {grid-row: 8;}

.uitlegtekst {
    grid-column: 1 / span 2;
    padding: 10px;
    background-color: $lightblue;
}
.tekst0 {grid-row: 1; grid-column: 3;}
.tekst1 {grid-row: 2;}
.tekst2 {grid-row: 3;}
.tekst3 {grid-row: 4;}
.tekst4 {grid-row: 5;}
.tekst5 {grid-row: 6;}
.tekst6 {grid-row: 7;}
.tekst7 {grid-row: 8;}