@use "variables" as *;
@use "buttons";
@use "indexstyle";
@use "sidebar";
@use "form";

body {
    background-color: $white;
    margin:0px;
    font-family: 'Montserrat';
}

header {
    display: flex;
    flex-direction:row;
    align-items: center;
    padding:20px;
    background-color: $white;
}

header nav {
    flex: 1 1 100%;
}

header nav {
    list-style-type: none;
    margin-left: 20px;
    padding: 0px;
    overflow: hidden;
    display: flex;
}

header nav h1 {
    margin: 0;
    flex: 1 1 100%;
    text-align: center;
    align-content: center;
}

nav li {float:left;}