nav a:link, nav a:visited {
  display: block;
  background-color: #d1ecff;
  color: black;
  text-decoration: none;
  padding: 10px 15px;
  margin: 5px 15px;
  border-radius: 10px;
}

nav .active {
  background-color: rgb(91, 180, 253);
}

nav a:hover:not(.active) {
  background-color: rgb(91, 180, 253);
}

nav a:hover.active {
  background-color: #fafeff;
}

li a {
  display: block;
  color: white;
  text-decoration: none;
}

a.button:link, a.button:visited {
  color: black;
  text-decoration: none;
  background-color: #fafeff;
  border-radius: 10px;
  border-color: #fafeff;
  border-style: solid;
  border-width: 1px;
  text-align: center;
  width: 100px;
  padding: 10px;
  z-index: 1;
}

a.button:hover, a.button:active {
  text-decoration: underline;
  background-color: rgb(91, 180, 253);
  border-color: rgb(91, 180, 253);
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: 250px;
  border-style: solid;
  border-width: 1px;
  margin-bottom: 50px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  height: 250px;
  border-style: solid;
  border-width: 1px;
  margin-bottom: 50px;
}

/*
@media screen and (max-width: 600px) {
    .flex-container {
        grid-template-columns: repeat(2, 1fr);
    }
}
*/
.grid-container > div {
  background-color: #d1ecff;
  text-align: center;
  box-sizing: border-box;
  flex-grow: 1;
  height: 100%;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  padding: 0px;
  overflow: hidden;
  position: relative;
}

.flex-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.deco_img {
  width: 100%;
  height: 100%;
}

.imgbutton {
  transform: translateX(-60%);
}

#box1 {
  background-color: #d1ecff;
}

#box2 {
  background-color: rgb(91, 180, 253);
}

#img1 {
  height: 100%;
  width: 50%;
}

#info1 {
  height: 100%;
  width: 50%;
}

.on-top {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: ease-in-out 0.2s;
}

.on-top:has(h3:hover) {
  background-color: rgba(0, 0, 0, 0.2);
}

.sidebar {
  position: fixed;
  display: flex;
  display: none;
  flex-direction: column;
  background-color: #d1ecff;
  align-items: center;
  width: 30%;
  height: 100%;
  margin: 0px;
  border-right: 1px solid black;
  z-index: 2;
}

.menu {
  position: absolute;
  list-style: none;
  top: 20%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sidebartop {
  display: flex;
  flex-direction: row;
  position: fixed;
  width: 27%;
  height: 50px;
  padding: 20px;
  background: #fafeff;
  border-right: 1px solid #fafeff;
  border-bottom: 1px solid #000;
}

.changebutton {
  background: none;
  border: none;
  font-size: 24px;
  color: #333;
  cursor: pointer;
}

#NavHomeButton {
  position: absolute;
  background-color: #d1ecff;
  padding: 10px 15px;
  margin: 5px 15px;
  border-radius: 10px;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  column-gap: 50px;
  row-gap: 30px;
  height: 550px;
  border-top: solid black 1px;
}

.formimage {
  grid-area: 1/1/span 4/1;
  background-color: #d1ecff;
  width: 98%;
}

.gegevens {
  grid-area: 1/2/span 2/2;
  overflow: hidden;
  background-color: #d1ecff;
  padding: 20px;
  margin-top: 20px;
}

form {
  margin-bottom: 20px;
}

.verzenden {
  grid-area: 1/3/span 2/3;
  background-color: #d1ecff;
  padding: 20px;
  margin-top: 20px;
  width: 60%;
}

.opmerkingen {
  grid-area: 3/2/span 2/span 2;
  background-color: #d1ecff;
  padding: 20px;
}

body {
  background-color: #fafeff;
  margin: 0px;
  font-family: "Montserrat";
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
  background-color: #fafeff;
}

header nav {
  flex: 1 1 100%;
}

header nav {
  list-style-type: none;
  margin-left: 20px;
  padding: 0px;
  overflow: hidden;
  display: flex;
}

header nav h1 {
  margin: 0;
  flex: 1 1 100%;
  text-align: center;
  align-content: center;
}

nav li {
  float: left;
}

/*# sourceMappingURL=main.css.map */
