@use "variables" as *;
@use "buttons";
@use "indexstyle";
@use "sidebar";
@use "form";
@use "zoekpagina";
@use "verwijzingpagina";
@use "detailpagina";

// Non-compliant colours (1.2 : 1 and 2.2 : 1)
:root {
    --accent-color: rgb(209, 236, 255);
    --hover-color: rgb(91, 180, 253);
    --text-color:black;
    --fixed-text-color:black;
}
  
// Compliant colours (4.58 : 1 and 10.58 : 1)
[data-theme="contrast"] {
    --accent-color: rgb(0, 119, 204);
    --hover-color: rgb(0, 68, 119);
    --text-color: rgb(250, 254, 255);
    --fixed-text-color:black;
}

body {
    background-color: $white;
    margin:0px;
    font-family: 'Montserrat';
    overflow-x: hidden;
    color: var(--text-color);
    .fixed-text-color {
        color: var(--fixed-text-color);
    }
}

.navbar a, #contrast-toggle {
    position: relative;
    z-index: 10;
}

header {
    display: flex;
    flex-direction:row;
    align-items: center;
    padding:20px;

    nav {
        flex: 1 1 100%;
        list-style-type: none;
        margin-left: 20px;
        padding: 0px;
        overflow: hidden;
        display: flex;

        li {float:left;}
        h1 {
            color: black;
            margin: 0;
            flex: 1 1 100%;
            text-align: center;
            align-content: center;
            font-size:35px;
        }
    }
}