.sidebar {
    position: fixed;
    display: flex;
    flex-direction: column;
    display:none;
    background-color: #d1ecffff;
    align-items:center;
    width: 30%;
    height: 100%;
    margin:0px;
    border-right:1px solid black;
    z-index: 2;
}

.menu {
    position:absolute;
    list-style: none;
    top:20%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 20px; /* Space between items */
}

.sidebartop {
    display:flex;
    flex-direction:row;
    position: fixed;
    width: 27%;
    height: 50px;
    padding:20px;
    background: #FAFEFF;
    border-right:1px solid #FAFEFF;
    border-bottom: 1px solid #000;
}

.changebutton {
    background: none;
    border: none;
    font-size: 24px;
    color: #333;
    cursor: pointer;
}

#NavHomeButton {
    position:relative;
    background-color:rgb(91, 180, 253);
}